* {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}
body {
  background: #f1f1f1;
}



.Topbar {
  height: 80px;
  width: 100%;
  background: #2574a9;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Topbar > .title {
  color: white;
  font-weight: 300;
  padding-left: 50px;
}


.Container {
  width: 100vw;
  height: calc(100vh - 80px);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.History,
.Editor {
  height: calc(100vh - 120px);
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);

  margin: 10px;

  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 8px;
}
.History h2,
.Editor h2 {
  padding: 20px 0;
  font-weight: 300;
  color: #666;
}

.History {
  flex: 1;
}
.History div {
  cursor: pointer;
  color: #666;
}
.History button {
  cursor: pointer;
  padding: 3px;
  margin-bottom: 20px;
  font-size: 16px;
}

.Editor {
  flex: 3;
}
.Editor textarea {
  width: calc(100% - 80px);
  height: calc(100% - 120px);

  border: none;

  resize: none;
  outline: none;

  font-size: 16px;
}
